body{
    margin: 0;
    padding: 0;
    background-color: #3282B8;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    display: flex;
    flex-direction: column;
    text-align: center;
}

header{
    background-color: #1B262C;
    padding: 1% 0 1% 0;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid white;
}

a{
    text-decoration: none;
}

p{
    font-size: 18px;
}

footer{
    position: absolute;
    bottom: 0;
    background-color: #BBE1FA;
    width: 100%;
    height: 3%;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
}

.alert{
    background: white;
}

.screenTitle{
    color: white;
    margin: 0 0 0 10%;
    text-decoration: none;
    width: fit-content;
}

.screenTitle:hover{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

/* #content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
} */

#description{
    background-color: #3282B8;
    color: rgb(255, 255, 255);
    padding-top: 5%;
    width: 100%;
}

/* Search bar */

.searchForm{
    background-color: #0F4C75;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 1% 0;
}

.searchInputs{
    width: 40%;
    font-size: 24px;
    border: 3px solid #1B262C;
    border-radius: 10px;
    margin-right: 10px;
}

.searchButton{
    font-size: 24px;
    color: black;
    border: 3px solid #1B262C;
    border-radius: 10px;
    background-color: #BBE1FA;
}

.searchButton:hover{
    color: white;
    cursor: pointer;
    background-color: #07465f;
}

/* Weather response */

#cityName{
    background-color: #1B262C;
    color: white;
    margin: 0;
    padding: 20px 0 20px 0;
}

.image_container{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 15em;
    height: 7em;
    background-color: #1B262C;
}

#weatherCardsFlexbox{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    background-color: white;
}

.weatherCard{
    background-color: rgb(197, 197, 197);
    padding: 2% 0 2% 0;
    margin: 1% 0 1% 0;
    border: 5px solid #1B262C;
}

