body{
    background-color: #0F4C75;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

header{
    background-color: #1B262C;
    padding: 1% 0 1% 0;
    display: flex;
    justify-content: flex-start;
    border-bottom: 1px solid white;
}

a{
    text-decoration: none;
}

.screenTitle{
    color: white;
    margin: 0 0 0 10%;
    text-decoration: none;
    width: fit-content;
}

.screenTitle:hover{
    cursor: pointer;
    color: black;
    text-decoration: none;
}

#content{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 5%
}

#numbers{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#description{
    color: rgb(255, 255, 255);
    padding-top: 2%;
}

/* Search bar */
.searchForm{
}

.searchInputs{
    /* width: 40%; */
    font-size: 30px;
    border: 5px solid #1B262C;
    border-radius: 10px;
    margin-right: 10px;
}

.searchButton{
    font-size: 30px;
    color: black;
    border: 5px solid #1B262C;
    border-radius: 10px;
    background-color: #BBE1FA;
}

.searchButton:hover{
    color: white;
    cursor: pointer;
    background-color: #07465f;
}